<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>История</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
<div class="main">
    <div class="container">
        <form class="form_conteiner" action="/history" method="post">
            <div class="form_title">
                <span>История</span>
            </div>
            <div class="form_input">
                <div class="form_column_left form_column">
                    <input type="date" name="date" value="{{date}}">
                </div>
                <div class="form_column_right form_column">
                    <div class="form_column_left form_column">
                        <select name="left_cur">
                        {{#currency_left}}
                        <option selected value={{name}}>{{name}}</option>
                        {{/currency_left}}
                        {{#currencies_left}}
                        <option value="{{name}}">{{name}}</option>
                        {{/currencies_left}}
                        </select>
                    </div>
                    <div class="form_column_right form_column">
                        <select name="right_cur">
                            {{#currency_right}}
                            <option selected value={{name}}>{{name}}</option>
                            {{/currency_right}}
                            {{#currencies_right}}
                            <option value="{{name}}">{{name}}</option>
                            {{/currencies_right}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_input form_table">
                <table>
                    <tr>
                        <th>Исходная валюта</th>
                        <th>Целевая валюта</th>
                        <th>Исходная сумма</th>
                        <th>Целевая сумма</th>
                        <th>Дата</th>
                    </tr>
                    {{#history}}
                    <tr>
                        <td>{{currencyLeft}}</td>
                        <td>{{currencyRight}}</td>
                        <td>{{rateLeft}}</td>
                        <td>{{rateRight}}</td>
                        <td>{{dateConvert}}</td>
                    </tr>
                    {{/history}}
                </table>
            </div>
            <div class="form_button form_input">
                <input type="submit" value="Поиск">
            </div>
            <div class="error">
            </div>
        </form>
    </div>
</div>
</body>
</html>
