<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="main">
    <div class="container">
        <form class="login_form" action="index.html" method="post">
            <span class="login_form_title">Конвертер валют</span>
            <div class="login_form_input">
                <input type="text" name="username" placeholder="Логин" value="">
            </div>
            <div class="login_form_input">
                <input type="password" name="password" placeholder="Пароль" value="">
            </div>
            <div class="login_form_button login_form_input">
                <input type="submit" value="Войти">
            </div>
            <div class="login_error">
            </div>
        </form>
    </div>
</div>
</body>
</html>
</body>
</html>
